.git
.gitignore
.idea
.nuxt
.output
.cache
.data
.nitro
dist
node_modules
logs
*.log
.env
.env.*
!.env.example
desktop.png
mobile.png
mobile-cdp.png
.edge-mobile-profile
.nuxt-dev.out.log
.nuxt-dev.err.log
