@import "tailwindcss";

@font-face {
    font-family: 'Marianne-Bold';
    src: url('./assets/fonts/Marianne-Bold.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Medium';
    src: url('./assets/fonts/Marianne-Medium.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Marianne-Regular';
    src: url('./assets/fonts/Marianne-Regular.woff2') format('woff2'),
    url('./assets/fonts/Marianne-Regular.woff') format('woff');
}

body {
    font-family: 'Marianne', sans-serif;
    line-height: 1.2;
}

:root {
    --blue-france-main: #000091;
    --blue-france-hover: #1212ff;
    --blue-france-active: #2323ff;

    --bg-light: #ffffff;
    --box-light: #dde5ff;
    --box-border: #000091;

    --text-color: #1D1D1B;
}
